
				<!-- Set body, h1, h2, p attributes -->
				body{
				background-color:yellow;
				}
				
				h1{
				text-align:center;
				font-family:arial;
				font-size:150%;
				background-color:#aaa;
				}
				
				h2{
				background-color:blue;
				font-family:verdana;
				font-size:120%;
				color:red;
				}
				
				p{
				background-color:black;
				font-family:verdana;
				font-size:100%;
				color:yellow;
				}

				.first {
				border:2px solid black;
				padding: 15px;
				width:20%;
				height:200px;
				float:left
				}
				.second {
				border:2px solid red;
				padding: 15px;
				width:50%;
				height:200px;
				float:left;
				margin-left: 25px;
   			    margin-right: 25px;
				}
				.third {
				border:2px solid black;
				padding: 15px;
				width:20%;
				height:200px;
				float:right
				}
			
			
