        body {
            background: rgb(215, 250, 220);
            font-family: sans-serif;
        }
        
        
      .header {
            background-color: rgb(36, 89, 36);
            color: white;
            padding: 5px 10px;
        }
        
        .footer {
            background-color: rgb(186, 222, 187);
            padding: 6px;
            clear: both;
        }
        
